.add-category {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #191d3b;
    padding: 1em;
    margin: 2em 0 0 2em;
    height: max-content;
    border-radius: 1em;
}


.add-category img {
    width: 15%;
    height: auto;
    margin: auto;
}

.add-category h4 {
    width: auto;
    margin: auto;
}

.add-category:hover {
    background-color: #33386b;
}

.add-category a {
    color: #FFF;
}