.available-balance {
    display: block;
    padding: 10px;
    text-align: justify;
}

.available-balance h2 {

}

.available-balance h3 {
    color: #28C1DF;
    font-size: xx-large;
    margin: -1rem 0 0 0;
}