.total-expenses {
    margin: 5%;
    padding: 1%;
    overflow: hidden;
    background: hsla(35, 91%, 55%, 1);
    background: linear-gradient(90deg, hsla(35, 91%, 55%, 1) 0%, hsla(0, 67%, 55%, 1) 100%, hsla(5, 69%, 55%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(35, 91%, 55%, 1) 0%, hsla(0, 67%, 55%, 1) 100%, hsla(5, 69%, 55%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(35, 91%, 55%, 1) 0%, hsla(0, 67%, 55%, 1) 100%, hsla(5, 69%, 55%, 1) 100%);
    border-radius: 10%;
    width: 15%;
}