.expenses {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sub-chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*.chart-container > * {*/
/*    flex: 1;*/
/*}*/