@media (min-width: 10em) {
    .card {
        margin-bottom: 16px;
    }
}

@media (max-width: 10em) {
    .card {
        margin-bottom: 16px;
    }
}


.card {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    min-width: 17em;
    max-width: 17em;
}


.card h2 {
    margin-top: 10px;
    font-family: verdana, "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
    /*font-size: 24px;*/
    /*font-weight: 400;*/
    text-align: center;
    color: #4d80f3;
    font-weight: bold;
    font-size: x-large;
}

.card p {
    font-family: verdana, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 13px;
    color: #6f6f6f !important;
    display: block;
    text-align: center;
    padding: 4px 0;
}
