.current-date {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #191d3b;
    padding: 10px;
    margin: 2em 0 0 2em;
    height: 3rem;
    min-width: 10em;
    border-radius: 1em;
}


.current-date img {
    width: 15%;
    height: auto;
}

.current-date h4 {
    width: auto;
}