.current-date {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #191d3b;
    border-radius: 7%
}


.current-date img {
    width: 15%;
    height: 15%;
}

.current-date h4 {
    width: auto;
}