.current-date {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #191d3b;
    padding: 10px;
    margin: 3rem 0 0 48rem;
    height: 3rem;
}


.current-date img {
    width: 15%;
    height: auto;
}

.current-date h4 {
    width: auto;
}